.text-watermark {
	color: #CCCCCC;
}
.dpt-title {
	color: #CCCCCC;
}
.text-normal {
	color: inherit;
}
div.dialpatterns {
	max-height: 15em; 
	max-width: 100%; 
	width: 500px;
	overflow: auto; 
	border: 1px solid #CCCCCC;
}
#pattern_file {
	display: none;
}
.save, .adv_set_default{border-style: none;}
.savetd, .save{display:none;}
