.text-watermark {
	color: #CCCCCC;
}
.dpt-title {
	color: #CCCCCC;
}
.text-normal {
	color: inherit;
}
div.dialpatterns {
	max-height: 15em; 
	max-width: 100%; 
	overflow: auto; 
	border: 1px solid #CCCCCC;
}

