<module>
	<rawname>core</rawname>
	<repo>standard</repo>
	<category>Applications</category>
	<name>Core</name>
	<version>13.0.132</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<changelog>
		*13.0.132*    bump 
		*13.0.131.29* Fixed the bulkhandler validation issue 
		*13.0.131.28* FREEI-1481 Outbound Routes - move paging Notifications setting to the new tab 
		*13.0.131.27* FREEPBX-21565 Call confirm does not work since updates 
		*13.0.131.26* FREEPBX-21382 Alert-Info header unconfigurably passed through to trunk when forwarding 
		*13.0.131.25* FREEPBX-21382 Alert-Info header unconfigurably passed through to trunk when forwarding 
		*13.0.131.24* FREEI-1349 Add indication tones for Indonesia 
		*13.0.131.23* FREEPBX-21437: optimized outbound route notification email script usage, FPBX13 changes 
		*13.0.131.22* FREEI-1466 Activating sipstation trial account gives "Call to undefined function" whoops error and the screen freezes in FreePBX 13. 
		*13.0.131.21* bump 
		*13.0.131.20* FREEI-1284: added email notifications to Outbound Routes, FPBX13 changes 
		*13.0.131.19* FREEI-1183 Contact User in PJSIP isn't setting the User part of the Contact Header 
		*13.0.131.18* FREEI-1226 
		*13.0.131.17* FREEI-683 fixe attended transfer for pjsip extension 
		*13.0.131.16* bump 
		*13.0.131.15* FREEI-1086 Emergecy device creation 
		*13.0.131.14* FREEPBX-21062 send connected line present in 13.22 
		*13.0.131.13* bump 
		*13.0.131.12* FREEI-1073 FREEPBX-21000 sipstatation generated pjsip trunks broken in asterisk 15 
		*13.0.131.11* Connected line is not in the good place. 
		*13.0.131.10* FREEPBX-20935 PJSIP trunks missing after modules updates 
		*13.0.131.9* FREEI-1043 Backport setting to disable transport reload to 13 
		*13.0.131.8* FREEPBX-20441 FreePBX 13 to SNG7 update breaks calling 
		*13.0.131.7* FREEI-683 Add (i) on dial option. Too many trouble for some providers. Need to find another way. 
		*13.0.131.6* FREEI-683 Attended Transfers Using PJSIP not updating Original Caller ID 
		*13.0.131.5* FREEPBX-18676 Webpage mentioned on the banner on top of the asterisk.conf files is no longer there (404) 
		*13.0.131.4* FREEPBX-18708 fatal_retry_interval get a Null value instead of 0 
		*13.0.131.3* FREEPBX-19762 
		*13.0.131.2* FREEPBX-19818
		*13.0.131.1* FREEPBX-18785
		*13.0.131* Fixing FREEPBX-17867 
		*13.0.130* FREEPBX-19626
		*13.0.129* FREEPBX-18661 Bulk Handler - Extensions :: import not setting outbound_proxy value 
		*13.0.128* FREEI-418 Usage of Any/Any inbound route will get provider ip banned 
		*13.0.127* Fixing FREEPBx-18345 
		*13.0.126* Fixing FREEPBX-18708 
		*13.0.125* Fixing FREEPBX-19483 Extension import ignoring aggregate_mwi field issue 
		*13.0.124* FREEPBX-19489
		*13.0.123* Asterisk 13.25.0 and 16.2.0 voicemail changes
		*13.0.122.60* Fixing FREEPBX-19389 
		*13.0.122.59* FREEPBX-14525 Uniform Behavior: Have trunks return to grid on submit 
		*13.0.122.58* FREEPBX-15249 Dialplan missing macro: macro-outisbusy 
		*13.0.122.57* Add ability to override the hints set in ext-local
		*13.0.122.56* FREEPBX-18926 use : to separate headers in chan sip
		*13.0.122.55* Inherit SIPHEADERs into child channels
		*13.0.122.54* Fixing FREEPBX-18880 Adding allow/deny option for IAX2 extensions for import/export 
		*13.0.122.53* FREEPBX-18942 fix bug in 13 
		*13.0.122.52* FREEPBX-18728 Follow Me with callconfirm doesn't work with external numbers 
		*13.0.122.51* FREEPBX-18509 PSTN calls forwarded off system to PSTN don't have correct CID Name 
		*13.0.122.50* FREEPBX-18507 Dialed Number Manipulation Rules Wizard fix
		*13.0.122.49* FREEPBX-18591 Disabled Option Allows Input 
		*13.0.122.48* FREEPBX-15536 Throw strong warning if user creates an outbound route with a single dot dial pattern 
		*13.0.122.47* FREEPBX-17953 FREEPBX-18336 Alert-Info header issue fixes 
		*13.0.122.46* Fixing FREEPBX-17953 Alert info headers getting set twice 
		*13.0.122.45* FREEPBX-18205 
		*13.0.122.44* FREEPBX-18176 
		*13.0.122.43* FREEPBX-18161
		*13.0.122.42* FREEPBX-18016 Trunk inbound Maximum Channels not honored. 
		*13.0.122.41* FREEPBX-18027 PBXact - Basic Mode - Admin Users with only CDR allowed can still restart the setup wizard 
		*13.0.122.40* FREEPBX-18016 Improving tool-tip for maximum channel field. 
		*13.0.122.39* FREEPBX-17948 Fixe separator for global vairable  DYNAMIC_FEATURES 
		*13.0.122.38* FREEPBX-17888 Cannot set T.38 MaxDatagram in PJSIP trunk 
		*13.0.122.37* FREEPBX-17841
		*13.0.122.36* FREEPBX-15896
		*13.0.122.35* FREEPBX-16782 - make sure we set the disabled trunk flag in the pjsip table as well as the trunks table when enabling and disabling trunks 
		*13.0.122.34* FREEPBX-17594 Import of pjsip extensions without match attributes 
		*13.0.122.33* FREEPBX-17600
		*13.0.122.32* Always remove res_pjproject from modules.conf
		*13.0.122.31* FREEPBX-17588 Fix sql column key 
		*13.0.122.30* Update registration string check 
		*13.0.122.29* FREEPBX-15637
		*13.0.122.28* FREEPBX-17492
		*13.0.122.27* FREEPBX-17381 Trunk does not allow Any CID if Outbound Caller ID is populated 
		*13.0.122.26* FREEPBX-17446 PJSip Trunk 'Permanent Auth Rejection' UI wrong 
		*13.0.122.25* FREEPBX-17449 Alter Info : the inherit option under advanced settings is not working for Attended Transfer. 
		*13.0.122.24* FREEPBX-13876 Incorrect CDR Logging
		*13.0.122.23* Fix issue with trunk method
		*13.0.122.22* FREEPBX-17094 AlertInfo not clearing after answer? 
		*13.0.122.21* FREEPBX-17158  PJSIP Trunk between FreePBX servers doesn't work with registration unless identify_by=auth_username is set 
		*13.0.122.20* FREEPBX-9493 Route Position dropdown menu missing items 
		*13.0.122.19* FREEPBX-16782 Disable PJSIP write out when disabled. 
		*13.0.122.18* FREEPBX-13173 CID Num Alias is used instead of Outbound CID in Follow Me outbound calls 
		*13.0.122.17* FREEPBX-10623 - Account code never deleted 
		*13.0.122.16* FREEPBX-17275 Cant reload after update to IVR 13.0.27.8 
		*13.0.122.15* FREEPBX-17157 PJSIP trunk, inbound PAI is not trusted - Add GUI option or set as default 
		*13.0.122.14* FREEPBX-17055 Quick extension creation page allignment is broken for french language issue fix 
		*13.0.122.13* FREEPBX-15389 Park Pro leaving permissions of deleted extensions in database 
		*13.0.122.12* FREEPBX-16787 - Extension's Add Inbound CID shows wrong numbers
		*13.0.122.11* FREEPBX-16782 Fix disabling registered trunks 
		*13.0.122.10* FREEPBX-16966 Remove option from Menu selections 
		*13.0.122.9* If sections are empty then allow creation
		*13.0.122.8* FREEPBX-16980 if not logging in as a user then return empty array
		*13.0.122.7* FREEPBX-15767 Showing a part of code using French Language (extension -quick create) 
		*13.0.122.6* FREEPBX-15778 PBXact Basic Mode Inbound Route 
		*13.0.122.5* FREEPBX-12244 Module Administrators allow create extensions when is disable the feature 
		*13.0.122.4* FREEPBX-16946
		*13.0.122.3* Move upgrade code to install from class
		*13.0.122.2* FREEPBX-16784 Remove requirement for PJSip trunks to have a port
		*13.0.122.1* FREEPBX-16858
		*13.0.122* FREEPBX-16419 Fix trunks disable to use method to disable trunks.
		*13.0.121* Move more procedural functions to class based functions
		*13.0.120.26* Fix upreported issue on forums
		*13.0.120.25* FREEPBX-16291 Bulk Handler missing fields
		*13.0.120.24* FREEPBX-16240 Add label to header
		*13.0.120.23* FREEPBX-16262 ignore conflicting values
		*13.0.120.22* FREEPBX-16262 Migrate mediaencryption to media_encryption
		*13.0.120.21* FREEPBX-15956
		*13.0.120.20* FREEPBX-15956 remove automatically enabling sdes encryption when creating pjsip endpoint
		*13.0.120.19* FREEPBX-16016 Bulk handler breaks RPID settings on extension import
		*13.0.120.18* FREEPBX-15824 positioning
		*13.0.129.17* FREEPBX-15824
		*13.0.120.16* FREEPBX-15903
		*13.0.120.15* FREEPBX-15339 Bulkhandler ,noanswer_dest,busy_dest, chanunavail_dest
		*13.0.120.14* Fix pjsip media encryption name
		*13.0.120.13* FREEPBX-15840
		*13.0.120.12* FREEPBX-13837
		*13.0.120.11* FREEPBX-15640 Issue with Follow me ringallv2 strategy
		*13.0.120.10* FREEPBX-15588
		*13.0.120.9* FREEPBX-15535 FREEPBX-15090
		*13.0.120.8* FREEPBX-14060 On extension creation voicemail tooltip needed
		*13.0.120.7* FREEPBX-15219 FREEPBX-15090 FREEPBX-14587 FREEPBX-13726
		*13.0.120.6* FREEPBX-12215 use proper methods to set headers
		*13.0.120.5* FREEPBX-14861 FREEPBX-14587
		*13.0.120.4* Fix a bug in pjsip contacts in dialparties
		*13.0.120.3* FREEPBX-14735 - fix error on 0.0.0.0
		*13.0.120.2* FREEPBX-14819 FREEPBX-14919 FREEPBX-14861
		*13.0.120.1* FREEPBX-14849, FREEPBX-14717, FREEPBX-14565, FREEPBX-14735
		*13.0.119.12* FREEPBX-14812 Implement PJSIP registration 'line' option
		*13.0.119.11* FREEPBX-14333 Configurable force_websocket mode
		*13.0.119.10* FREEPBX-14809 - in macro-dial and macro-dial-one ensure ALERT_INFO
		*13.0.119.9* FREEPBX-14688 FREEPBX-14558 FREEPBX-14559 FREEPBX-14596 FREEPBX-14194
		*13.0.119.8* FREEPBX-14681 Support rtcp Mux
		*13.0.119.7* Revert menu change
		*13.0.119.6* FREEPBX-13047 PJSIP doesn't allow you to set inband_progress
		*13.0.119.5* FREEPBX-14644 Core Time Conditions sets "default" in the dialplan
		*13.0.119.4* FREEPBX-14455 iax_registrations.conf has extra properties
		*13.0.119.3* FREEPBX-14326 Require Encrypted media is the wrong way around
		*13.0.119.2* FREEPBX-14492 "Require RTP (Media) Encryption" field not importing using bulk handler
		*13.0.119.1* FREEPBX-13990 Add case insensitive validation for SIP trunk peer names, FREEPBX-12425 Bulk Handler - Sensible default for technology should be SIP
		*13.0.119* FREEPBX-12151 PJSIP MWI Auto subscription
		*13.0.118.18* FREEPBX-14390 Add support for users to add/modify pjsip global context
		*13.0.118.17* FREEPBX-14328 System default language file not playing for SIP anonymous
		*13.0.118.16* FREEPBX-14262 option for Terminate call not visible for french language
		*13.0.118.15* FREEPBX-14349 Core prompt replacement
		*13.0.118.14* Fix error in strict versions of mysql
		*13.0.118.13* FREEPBX-14017 Left join even if not a trunk
		*13.0.118.12* FREEPBX-14017 fwconsole trunk manipulation causes trunks to disappear from GUI - cant add them back
		*13.0.118.11* Define the sessionlimit even if its blank
		*13.0.118.10* FREEPBX-13726 firstavailable, firstnotonphone :: ring *only* the first
		*13.0.118.9* Issues releated to FREEPBX-14212 and quick create
		*13.0.118.8* FREEPBX-13791 importing updated extensions deletes voicemail and greetings
		*13.0.118.7* FREEPBX-13999 Max_contacts field for pjsip extensions is not imported
		*13.0.118.6* FREEPBX-13726 Dont set huntmembers to 0
		*13.0.118.5* FREEPBX-12962 Fix ajax call to add astmodules
		*13.0.118.4* FREEPBX-13980 Populating CallerID field in Trunk dial patterns doesnt work
		*13.0.118.3* FREEPBX-14035 Fix editing of a trunk to differentate from delete
		*13.0.118.2* FREEPBX-14035 Fix typo when deleting trunks causing whoops error
		*13.0.118.1* FREEPBX-13831, FREEPBX-13726
		*13.0.118* FREEPBX-13906 Moved trunk delete in to the class
		*13.0.117.4* Remove the chown command because the hooks folder permissions are set correctly
		*13.0.117.3* FREEPBX-13442 Bulk handler exports vmexten but doesnt import it
		*13.0.117.2* FREEPBX-13793 Move log files into respective modules
		*13.0.117.1* FREEPBX-7373 Hide *11/*12 feature codes by default exposed with Advanced Settings or if in deviceanduser mode
		*13.0.117* FREEPBX-12814 Add defaultuser setting to extension
		*13.0.116.1* FREEPBX-13504 Asterisk Modules: error on invalid input of module to add
		*13.0.116* FREEPBX-12331, FREEPBX-13481 Enable 'outbound proxy' in PJSIP
		*13.0.115.5* FREEPBX-13516 Do not send pjsip registrations when disabled
		*13.0.115.4* FREEPBX-9645 Return to same tab on submit in Asterisk Modules
		*13.0.115.3* FREEPBX-12364 Quick Create choose correct driver
		*13.0.115.2* FREEPBX-12577 dont go to voicemail from an ivr
		*13.0.115.1* FREEPBX-12577 fix broken invalid entries in direct dial ivr
		*13.0.115* Dial-one and dial macros now have consistent variables
		*13.0.114.2* FREEPBX-13409 Dont load soundlangs until its really needed
		*13.0.114.1* FREEPBX-13209 Only get endpoint if needed
		*13.0.114* FREEPBX-13364 Ability to set Ringer Volumes
		*13.0.113.10* Fix dialparties inheritance
		*13.0.113.9* FREEPBX-11842 Stop using datalists for custom selects
		*13.0.113.8* FREEPBX-13318 add AMPBIN to the list of globals that will be extracted at the top of the extensions_additional.conf file
		*13.0.113.7* FREEPBX-12760 Set all keys to lowercase on bulkimport
		*13.0.113.6* FREEPBX-12215 Add diversion headers for PJSIP
		*13.0.113.5* FREEPBX-10054 Add send PAI/RPID to PJSIP advanced trunk settings
		*13.0.113.4* FREEPBX-13135 E_WARNING error on Outbound Route submit with dial patterns
		*13.0.113.3* FREEPBX-12255 add process hook
		*13.0.113.2* FREEPBX-13055 inbound routes destination labels for core, FREEPBX-13001 timeconditions hangup destinations, FREEPBX-10405 PJSIP to-header in from-pstn
		*13.0.113.1* FREEPBX-13055 Inbound Routes Label clarification
		*13.0.113* FREEPBX-13153 Write out SIPUSERAGENT in core
		*13.0.112* Fix cnam issue in CDR reports
		*13.0.111* tcpenable not enabletcp for TCP transport checks
		*13.0.110* FREEPBX-13039 BLF issues for calls
		*13.0.109* Don't generate out transports that are invalid
		*13.0.108* FREEPBX-12752
		*13.0.107* Fix json_decode if it spits back a null string
		*13.0.106* Comment functions and reorganize
		*13.0.105* FREEPBX-12837 pjsip extension with mutliple contacts only rings one contact when extension is included in a ring group
		*13.0.104* FREEPBX-12887
		*13.0.103* FREEPBX-11764, FREEPBX-12605, FREEPBX-12798, FREEPBX-12484, FREEPBX-12639, FREEPBX-12721, FREEPBX-12805, FREEPBX-12840
		*13.0.102* Noload a few more pjsip modules
		*13.0.101* FREEPBX-12620 add language to pjsip trunks
		*13.0.100* FREEPBX-12708 fix export with no data
		*13.0.99* Add sound languages: it,fr,en_GB
		*13.0.98* Allow arbitrary sections in pjsip configuration
		*13.0.97* Address concerns re digium. Thanks Scott!
		*13.0.96* ASTNOW-436 allow addEndpoint to create non-device sections
		*13.0.95* FREEPBX-12608 Add a field for PJSIP extensions to set device_state_busy_at
		*13.0.94* FREEPBX-9281 remove new user option when creating a device in UD mode
		*13.0.93* FREEPBX-10264 Don't auto-answer when in a queue
		*13.0.92* FREEPBX-12408 Regression: DID using keywords in cid field
		*13.0.91* Fix verification of DIDs
		*13.0.90* Display the ports that are being used in a more comprehensible fashion.
		*13.0.89* FREEPBX-12192 Update validation, FREEPBX-12281 variable naming, FREEPBX-12286 Fix dialplan logic for AMPBADNUMBER
		*13.0.88* FREEPBX-12345 Only replace dialopts not the string
		*13.0.87* FREEPBX-12325 only use PJSIP or SIP when they are the driver
		*13.0.86* FREEPBX-8801 Move some paging functionality into paging
		*13.0.85* FREEPBX-12271 IVR Direct Dial no longer working with Device and User mode
		*13.0.84* FREEPBX-11597 reset form after quick create page change
		*13.0.83* FREEPBX-8981 add automon back into featuremap as it doesnt seem to conflict
		*13.0.82* FREEPBX-12013 remove invalid dtmf none option, add valid auto option
		*13.0.81* FREEPBX-11826 import answermode
		*13.0.80* Dynamic intercom hints for reload improvements
		*13.0.79* Add ipv6 brackets when needed
		*13.0.78* Use proper bind port
		*13.0.77* Yes is not true
		*13.0.76* Bind to correct port on https
		*13.0.75* Fix missing data on edit
		*13.0.74* Session timers needs to be labeled something else
		*13.0.73* FREEPBX-11969 FREEPBX-12015 FREEPBX-12074 FREEPBX-12076 FREEPBX-12085 FREEPBX-11915 FREEPBX-12000
		*13.0.72* FREEPBX-12058 prevent potential unexpected use of transfer functionality
		*13.0.71* IP-196
		*13.0.70* FREEPBX-12019 run trim against any timezone setting
		*13.0.69* FREEPBX-11988 Fix bug with editing extensions
		*13.0.68* FREEPBX-11862 Fix field sizing
		*13.0.67* Advanced settings name changes
		*13.0.66* FREEPBX-11710 Attach endpoint to identify
		*13.0.65* FREEPBX-11753, FREEPBX-11601, FREEPBX-11777, FREEPBX-11564, FREEPBX-11671, FREEPBX-11710, FREEPBX-11727, FREEPBX-11728, FREEPBX-11733, FREEPBX-9268, FREEPBX-11744
		*13.0.64* Allow adding sections to sip_additional.conf
		*13.0.63* FREEPBX-9691 Add asterisk http.conf settings in GUI
		*13.0.62* FREEPBX-9914 Add incoming routes/dids to search
		*13.0.61* FREEPBX-11037 Parking Pro module - Parked Music Class wont change
		*13.0.60* FREEPBX-11768 Inbound Call Fails If All Extensions on DND
		*13.0.59* FREEPBX-11093 Check for common errors during bulk import
		*13.0.58* Simplify settings
		*13.0.57* Simple inbound routes views
		*13.0.56* FREEPBX-11734 remove backslashed semi-colon
		*13.0.55* FREEPBX-11730 Advanced settings display issues
		*13.0.54* FREEPBX-11463 Improve permit/deny tooltips, FREEPBX-11649 bootstrap tables cookie fix
		*13.0.53* FREEPBX-11017 fix variables for PJSIP, FREEPBX-11068 Fix quoting of screen variable, FREEPBX-11388 Fix did links, 	FREEPBX-11570 catch username conflicts., FREEPBX-11601 Fix element bindings for trunk
		*13.0.52* FREEPBX-11648 FREEPBX-11676 use datalist instead of unsupport js library
		*13.0.51* Macro hook additions
		*13.0.50* Exit macro-dial properly (RE: FREEPBX-11698)
		*13.0.49* FREEPBX-11698 Remove all numbered priorities on ring groups
		*13.0.48* Allow splicing into macro-dial one during group exten parsing
		*13.0.47* Better wording of destination drop downs for voicemail
		*13.0.46* FREEPBX-11612 force_rport not being written
		*13.0.45* If there are fatal errors in install then return false dont die_freepbx, just abort this module
		*13.0.44* FREEPBX-11494 "fwconsole chown" doesn't work in Kickstart script
		*13.0.43* FREEPBX-11460 add mediaencryption defaults so they import
		*13.0.42* Fix pjsip trunks with no auth generating invalid config
		*13.0.41* Migrate from pickupgroup to namedpickupgroup
		*13.0.40* FREEPBX-11421 Users Section - No Users Listed
		*13.0.39* FREEPBX-11329 Add checkrange to grid FREEPBX-11324 Array validation FREEPBX-11017 Patch submission namedpickupgroup instead of pickupgroup
		*13.0.38.2* Add func-sip-apply-headers to local confirm
		*13.0.38.1* FREEPBX-11149 bad destinations fix
		*13.0.37* Ignore space on Alert Infos
		*13.0.36* FREEPBX-11233
		*13.0.35* FREEPBX-11259 FREEPBX-11224
		*13.0.34* Allow older installs to update
		*13.0.33* HTTP TLS Support
		*13.0.32* FREEPBX-11298 inherit should not modify alert info
		*13.0.31* Fix SQL statement
		*13.0.30* FREEPBX-11264 Fixes bug in update default values
		*13.0.29* FREEPBX-11084 fix typo in playback FREEPBX-11113 Quick Create Extension Navigation Issue FREEPBX-11247 Dial Plans Wizard has broken buttons
		*13.0.28* FREEPBX-10698 regen secret FREEPBX-11090 handle dahdi and custom extensions
		*13.0.27* PHP setable timezone
		*13.0.26* Use new custom select in advanced settings
		*13.0.25* Alert Info dropdown
		*13.0.24* Support Alert Info dropdown
		*13.0.23* FREEPBX-11167
		*13.0.22* FREEPBX-10450
		*13.0.21* FREEPBX-10383
		*13.0.20* FREEPBX-11002
		*13.0.19* FREEPBX-11082
		*13.0.18* FREEPBX-10855
		*13.0.17* FREEPBX-11047
		*13.0.16* FREEPBX-10965 FREEPBX-10890 FREEPBX-8863 FREEPBX-10909 FREEPBX-10948 FREEPBX-10575 FREEPBX-10797 FREEPBX-10880
		*13.0.15* FREEPBX-9951 Japanese language prompts
		*13.0.14* FREEPBX-10876 SQL escape fix - Eswee Odendaal
		*13.0.13* FREEPBX-10774 FREEPBX-10752 FREEPBX-10733 FREEPBX-10728
		*13.0.12* FREEPBX-10399
		*13.0.11* FREEPBX-10569
		*13.0.10* FREEPBX-10666, FREEPBX-10691, FREEPBX-10628, FREEPBX-10627
		*13.0.9* Speed up inbound routes ten fold.
		*13.0.8* Clean up some deprecated function calls to reduce noise on large systems
		*13.0.7* Slide out menus and cosmetic updates
		*13.0.6* Combine buttons into a single dropdown button
		*13.0.5* Add the possibility of terminating the call with the no service message
		*13.0.4* FREEPBX-10496 run needreload when reordering routes
		*13.0.3* Use floating rnav style listings
		*13.0.2* First stable release
		*13.0.1RC1.17* FREEPBX-10528 Move dialpattern npa npx lookup to AJAX handler
		*13.0.1RC1.16* FREEPBX-10484 Fix extension form validation
		*13.0.1RC1.15* FREEPBX-10459 Fix macro-dial-one to evaluate blank dialstrings.
		*13.0.1RC1.14* FREEPBX-10382 Allow dot in usernames on administrators page.
		*13.0.1RC1.13* FREEPBX-10411 Hide empty categories in advanced settings, FREEPBX-10408 PJSIP Trunk advanced tooltips, other cleanup, FREEPBX-10445 Fix array in routing
		*13.0.1RC1.12* Fix saving of values
		*13.0.1RC1.11* FREEPBX-100329 Fix validation for outbound routes
		*13.0.1RC1.10* FREEPBX-10306 Fix trunk order updating in routing. Add toast to reflect success. FREEPBX-10318 attempt to circumvent browser autocomplete circumvention
		*13.0.1RC1.9* FREEPBX-8340 Allow PJSip trunks with or without reg/auth
		*13.0.1RC1.8* Fix invalid js selector  and cleanup multiple rows in textarea
		*13.0.1RC1.7* FREEPBX-10275 Account for bulk pattern box in routing validation.
		*13.0.1RC1.6* FREEPBX-10227 FREEPBX-10110 Add progress to blackhole destinations that don't answer, FREEPBX-10252 keep atleast one dial pattern row
		*13.0.1RC1.5* FREEPBX-10227 in outbound routes as well
		*13.0.1RC1.4* FREEPBX-10227 show mohclass on refresh
		*13.0.1RC1.3* FREEPBX-10221 Add outbound dialprefix to dialplan manipulation tab
		*13.0.1RC1.2* FREEPBX-10209 htmlentities need to use UTF-8
		*13.0.1RC1.1* fix for the "Unknown or unavailable item requested: 'reversecharge'" warning which some users with non ISDN/PRI trunks have been seeing
		*13.0.1RC1* Release Candidate 1
		*13.0.1beta1.29* FREEPBX-10117 IPv6 updates, reverse charge add false, Add toast to inbound routes for order changes, FREEPBX-10138 fix delete dial rules in routing
		*13.0.1beta1.28* FREEPBX-10117 Quick Create Extensions not allowing you to dial between extensions
		*13.0.1beta1.27* FREEPBX-10051 Outbound Route patterns, allow empty if there is a file on import
		*13.0.1beta1.26* FREEPBX-9939 can not delete outbound route
		*13.0.1beta1.25* FREEPBX-9913 Timegroup view routing, FREEPBX-9985 Feature SIP Secret generated size, FREEPBX-9931 i18n Audio errors
		*13.0.1beta1.24* Fix layout issue in Advanced Settings
		*13.0.1beta1.23* FREEPBX-9886 Bug in trying to disable call waiting and find me follow me grid display fixes
		*13.0.1beta1.22* FREEPBX-9869 Move IAX secret into main tab
		*13.0.1beta1.21* FREEPBX-9856 Use the CID if presented
		*13.0.1beta1.20* Fix faulty bug from core addition
		*13.0.1beta1.19* FREEPBX-9810 Add post include to most PJSIP files
		*13.0.1beta1.18* Use new getBinds format
		*13.0.1beta1.17* FREEPBX-9806 Fix regression from FREEPBX-9753
		*13.0.1beta1.16* FREEPBX-9450 fix misspelling on js
		*13.0.1beta1.15* FREEPBX-9760 wrong dial string
		*13.0.1beta1.14* FREEPBX-9753 add accountcode for pjsip 12.5.0, FREEPBX-8492 remove duplicated macro outisbusy
		*13.0.1beta1.13* Revert FREEPBX-8046 to fix FREEPBX-9728
		*13.0.1beta1.12* FREEPBX-9717 add correct classes to tabs
		*13.0.1beta1.11* FREEPBX-9622 Add hook into delUsers and delDevices so other modules can hook into delete processes
		*13.0.1beta1.10* FREEPBX-9699 unable to save edits to extensions
		*13.0.1beta1.9* Fix missing buttons in Device and User mode reported in IRC
		*13.0.1beta1.8* FREEPBX-9685 Dont require email address on quick create, FREEPBX-9684 show apply config after ajax delete
		*13.0.1beta1.7* Add DID, callerid, and destination to DID bulkhandler validation page
		*13.0.1beta1.6* Add back missing account field
		*13.0.1beta1.5* FREEPBX-9509 Cant enable recording external outbound calls from extension
		*13.0.1beta1.4* FREEPBX-9544 fixes error when changing sip drivers
		*13.0.1beta1.3* Fix device and user display to accurately reflect correct items
		*13.0.1beta1.2* FREEPBX-9513 Core:Hangup in inbound routes table leads to 404 error, FREEPBX-9533 error
		*13.0.1beta1* Bump to beta. Prep for launch
		*13.0.1alpha35* FREEPBX-9491 List specific destinations in inbound routes chart
		*13.0.1alpha34* Add Spanish prompts
		*13.0.1alpha33* FREEPBX-9459 Dialpattern Field Display Issues
		*13.0.1alpha32* FREEPBX-9461, FREEPBX-8823 Implement a few more features into PJSIP that were missing
		*13.0.1alpha31* Add tab scrolls to devices
		*13.0.1alpha30* Fixed: FREEPBX-9446, FREEPBX-9447, FREEPBX-9448, FREEPBX-9449, FREEPBX-9450, FREEPBX-9457
		*13.0.1alpha29* When in readonly mode in advanced settings dont just hide the rows, dont even put them in the dom
		*13.0.1alpha28* FREEPBX-9439 After deleting extension, Quick Create thinks it still exists until reload
		*13.0.1alpha27* Move features from extension settings into the table
		*13.0.1alpha26* FREEPBX-9430 If user is empty don't return invalid data
		*13.0.1alpha25* Fixes: FREEPBX-9419, FREEPBX-9359, FREEPBX-9427, FREEPBX-9426, FREEPBX-9428, FREEPBX-9431
		*13.0.1alpha24* FREEPBX-9419 Fixes to looping over invalid arrays
		*13.0.1alpha23* Looping issue
		*13.0.1alpha22* Fix advanced settings page display
		*13.0.1alpha21* FREEPBX-7280 Dynamically generate extensions.conf, FREEPBX-8324 Ensure dialparties calls ALL the pjsip endpoints, FREEPBX-8860 - Add PJSIP Header support to macro-dial and macro-dial-one, FREEPBX-9164
		*13.0.1alpha20* Add missing sections back into admin
		*13.0.1alpha19* Clear cache when deleting things
		*13.0.1alpha18* Declare the correct namespace name
		*13.0.1alpha17* Return an array if empty not a null
		*13.0.1alpha16* Dynamic hints phase 1, core speed up improvements
		*13.0.1alpha15* add sorting, mass delete and fixes FREEPBX-9193
		*13.0.1alpha14* wrap in quotes to prevent an invalid syntax error on transfer if no ringtimer set
		*13.0.1alpha13* Fix outbound CID issues and address FREEPBX-5894 On outbound calls, phones show outbound Caller ID, even when hidden flag is set
		*13.0.1alpha12* Fix outstanding bugs with javascript on the trunks page
		*13.0.1alpha11* FREEPBX-8929, FREEPBX-8930, FREEPBX-8974 Add additional settings to pjsip trunks, reorganize pjsip trunks, fix pjsip trunks so they work
		*13.0.1alpha10* FREEPBX-8859 Add WSS Support to chan sip
		*13.0.1alpha9* Dont hard set UTF8
		*13.0.1alpha8* FREEPBX-8815 Ordering of allow/disallow in pjsip.endpoint.conf
		*13.0.1alpha7* FREEPBX-8966 no apply bar after quick create
		*13.0.1alpha6* FREEPBX-8965 fixed error in creating custom extensions, some virtual extension fixes as well
		*13.0.1alpha5* Prevent crash during upgrade
		*13.0.1alpha4* Added load ability for Asterisk Modules
		*13.0.1alpha3* Hide buttons in grid views on inbound routes and extensions, Adjust sip trunk labels, add confirmation to delete action in trunk grid.
		*13.0.1alpha2* Reskin. Complete visuals change. Added new functionality. Broke apart drivers.
	</changelog>
	<depends>
		<version>13.0.197.3</version>
		<module>framework ge 13.0.197.22</module>
	</depends>
	<menuitems>
		<extensions needsenginedb="yes">Extensions</extensions>
		<users needsenginedb="yes">Users</users>
		<devices needsenginedb="yes">Devices</devices>
		<did needsenginedb="yes" category="Connectivity">Inbound Routes</did>
		<dahdichandids category="Connectivity">DAHDI Channel DIDs</dahdichandids>
		<routing category="Connectivity" needsenginedb="yes">Outbound Routes</routing>
		<trunks needsenginedb="yes" category="Connectivity">Trunks</trunks>
		<advancedsettings category="Settings">Advanced Settings</advancedsettings>
		<ampusers category="Admin">Administrators</ampusers>
		<astmodules category="Admin">Asterisk Modules</astmodules>
		<wiki category="Admin" requires_auth="false" href="http://www.freepbx.org/support-and-professional-services" target="_blank" access="all">FreePBX Support</wiki>
	</menuitems>
	<popovers>
		<extensions>
			<display>extensions</display>
			<view>quick</view>
		</extensions>
		<users>
			<display>users</display>
			<view>add</view>
		</users>
 	</popovers>
	<methods>
		<get_config pri="480">core_do_get_config</get_config>
	</methods>
	<hooks>
		<bulkhandler namespace="FreePBX\modules" class="Bulkhandler" priority="100">
			<method namespace="FreePBX\modules" class="Core" callingMethod="getTypes">bulkhandlerGetTypes</method>
			<method namespace="FreePBX\modules" class="Core" callingMethod="getHeaders">bulkhandlerGetHeaders</method>
			<method namespace="FreePBX\modules" class="Core" callingMethod="validate">bulkhandlerValidate</method>
			<method namespace="FreePBX\modules" class="Core" callingMethod="import">bulkhandlerImport</method>
			<method namespace="FreePBX\modules" class="Core" callingMethod="export">bulkhandlerExport</method>
		</bulkhandler>
	</hooks>
	<supported>
		<version>13.0</version>
	</supported>
	<location>release/2.11/core-2.11.0.7.tgz</location>
	<md5sum>0fd1e869a8c4a2960e0894c202ba24fa</md5sum>
</module>
