<module>
	<rawname>core</rawname>
	<type>setup</type>
	<category>Basic</category>
	<name>Core</name>
	<version>2.3.0beta1.2</version>
	<candisable>no</candisable>
	<changelog>
		*2.3.0beta1.2* Changed CW default to on, changed freePBX to FreePBX
		*2.3.0beta1.1* Change core destinations to from-did-direct from ext-local so that findmefollow is used if present
		*2.3.0beta1.0* First release online upradeable core module
		*1.2* Core modules code when part of framework
	</changelog>
	<requirements>
		<file>/usr/sbin/asterisk</file>
	</requirements>
	<menuitems>
		<extensions>Extensions</extensions>
		<users>Users</users>
		<devices>Devices</devices>
		<did category="Inbound Call Control" sort="-5">Inbound Routes</did>
		<routing>Outbound Routes</routing>
		<trunks>Trunks</trunks>
		<general>General Settings</general>
		<ampusers>Administrators</ampusers>
		<wiki type="tool" category="Support" sort="5" href="http://support.freepbx.org" target="_blank">FreePBX Support</wiki>
	</menuitems>
	<location>release/2.3/core-2.3.0beta1.2.tgz</location>
	<info>http://freepbx.org/wiki/Core</info>
	<md5sum>1f6fc5c968385994e8a777af1df532e0</md5sum>
<supported><version>2.3</version></supported></module>
